extends layouts/main-layout.pug

block content
    //to call a function from mixins we have to put (+)
    +createPostForm(userLoggedIn)
    //7.7we need a element to add html in the page
    .postsContainer

    +createReplyModal(userLoggedIn)
    

block scripts   
    script(src="/js/home.js") 
