extends layouts/main-layout.pug

block content
    
        each post  in posts 

            
            
            ul.userContainer 
                     
                .firstName= test.firstName
                .lastName= test.lastName
                .usernamee= test.username
            .content= post.content
            
block scripts   
    script(src="/js/profilePage.js") 
